<div id="newsletter-sub">
  <iframe
    src="https://api.leadconnectorhq.com/widget/form/oWjiNREaqlQmzocCT53f"
    id="inline-oWjiNREaqlQmzocCT53f"
    class="w-full h-96 pb-16"
    data-layout="{'id':'INLINE'}"
    data-trigger-type="alwaysShow"
    data-trigger-value=""
    data-activation-type="alwaysActivated"
    data-activation-value=""
    data-deactivation-type="neverDeactivate"
    data-deactivation-value=""
    data-form-name="Newsletter signup"
    data-height="470"
    data-layout-iframe-id="inline-oWjiNREaqlQmzocCT53f"
    data-form-id="oWjiNREaqlQmzocCT53f"
    title="Newsletter signup"
  >
  </iframe>
  <script src="https://link.msgsndr.com/js/form_embed.js"></script>
</div>
