<div id="newsletter-sub" class="flex justify-center items-center w-full max-w-6xl mx-auto">
  <script async data-uid="bd75b27c0c" src="https://completionist-academy.kit.com/bd75b27c0c/index.js"></script>
</div>
