---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import jakeImage from '~/assets/images/jake-in-office-sm.jpeg';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Jake"
    image={{
      src: jakeImage,
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"
        >Inspiring you to live fully<br />
        and without regrets</span
      >
    </Fragment>

    <Fragment slot="subtitle"> </Fragment>
  </Hero>

  <Hero tagline="About" class="h-full">
    <Fragment slot="title">A little about me</Fragment>

    <Fragment slot="subtitle">
      <div class="p-4 text-xl">
        I’m Zeljko - Jake Dakich. With over 30 years of experience in business, I’ve navigated the highs and lows of
        entrepreneurship, learning valuable lessons along the way. My journey hasn’t been without its challenges — I’ve
        struggled with ADHD and focus for much of my life, often feeling the weight of guilt from procrastination and
        unfinished tasks.
      </div>
      <div class="p-4 text-xl">
        These struggles led me on a path of self-discovery and growth. It wasn’t until I embraced the practices of
        meditation and journaling that I truly began to find my footing. These tools didn’t just help me manage my ADHD;
        they transformed my life, allowing me to harness my energy, focus my thoughts, and achieve success both in
        business and beyond.
      </div>
      <div class="p-4 text-xl">
        As a coach, I draw from my own experiences—the challenges I’ve faced and the strategies that helped me overcome
        them. I’m passionate about helping others who feel stuck, overwhelmed, or unsure of their next steps. I
        understand firsthand the struggles of maintaining focus and the guilt that comes with procrastination. My goal
        is to empower you to break through those barriers, find clarity, and create meaningful progress in your life.
      </div>
      <div class="p-4 text-xl">
        Whether you’re looking to start a new venture, build on existing success, or simply gain control over your daily
        challenges, I’m here to guide you. Together, we’ll work on developing the mindset, habits, and strategies that
        will lead you to your goals. Let’s embark on this journey together—I’m committed to helping you unlock your
        potential and live a fulfilling, purpose-driven life.
      </div>
      <div class="p-4 text-xl">Thank you for your interest and I look forward to connecting with you soon.</div>
    </Fragment>
  </Hero>
</Layout>
