---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Newsletter from '~/components/widgets/Newsletter.astro';

const metadata = {
  title: 'Completionist Accademy',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Transform Your Life with Completionist Academy"
    actions={[{ text: 'Learn more', href: '#programs' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1551892589-865f69869476',
      alt: 'Breakthrough Image',
    }}
  >
    <Fragment slot="title"> Transform Your Life <br /> with Our Programs </Fragment>

    <Fragment slot="subtitle">
      Achieve your goals, find meaning, and live your values <br /> with our comprehensive coaching programs.
    </Fragment>
  </Hero>

  <Features2
    id="programs"
    title="Programs"
    subtitle="Choose between our quick tactical Sprint<br /> or strategic Blueprint programs to achieve your goals."
    columns={2}
    items={[
      {
        title: 'Breakthrough Sprint',
        description:
          'Breakthrough Sprint is a two-week intensive coaching program designed to help you clarify a specific goal, create a focused plan, and make meaningful progress towards achieving it. The program is designed for individuals who are ready to take immediate, focused action and see tangible results in a short period.',
        icon: 'tabler:run',
        callToAction: { text: 'Learn more...', href: '/sprint', variant: 'link' },
      },
      {
        title: 'Breakthrough Blueprint',
        description:
          'Breakthrough Blueprint is a 12-week coaching program designed to help you unlock your potential, achieve a goal or specific change, and create a meaningful and fulfilling life. Through a combination of self-awareness exercises, goal-setting, strategic planning, and ongoing support, this program provides you with the tools and guidance needed to make lasting changes.',
        icon: 'tabler:rocket',
        callToAction: { text: 'Learn more...', href: '/blueprint', variant: 'link' },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-200 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features2 title="About us">
    <Fragment slot="subtitle">
      <p class="text-xl my-4">
        At Completionist Academy, led by coach Jake, we are dedicated to helping people break free from stagnation,
        achieve their goals, and live with purpose. With years of experience in business development and personal
        challenges with ADHD and procrastination, Jake knows firsthand how hard it can be to stay focused and make
        meaningful progress.
      </p>

      <p class="text-xl my-4">
        Through proven strategies like accountability, meditation, journaling, and structured goal-setting, Jake
        transformed his own life and is passionate about helping others do the same. Completionist Academy was created
        to empower individuals to unlock their potential, find clarity, and take action. We offer comprehensive coaching
        programs that provide guidance, accountability, and the tools you need to overcome obstacles and achieve
        success—one step at a time.
      </p>

      <p class="text-xl my-4">
        Our mission is simple: to support you in becoming the best version of yourself, with a clear plan and the
        motivation to make it happen.
      </p>
      <p>
        <a href="/about" class="text-blue-500 hover:underline">Learn more about us...</a>
      </p>
    </Fragment>

    <CallToAction
      actions={[
        {
          variant: 'primary',
          target: '_blank',
          text: 'Breakthrough Blueprint',
          href: '/blueprint',
          icon: 'tabler:rocket',
        },
      ]}
    >
      <Fragment slot="title">Take Action Now!</Fragment>

      <Fragment slot="subtitle">
        Learn about Breakthrough Blueprint, our flagship program that will help you achieve your goals and transform
        your life.
      </Fragment>
    </CallToAction>
  </Features2>

  <Newsletter />
</Layout>
