---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Start',
};
---

<Layout metadata={metadata}>
  <Hero tagline="Schedule a call">
    <Fragment slot="title"> Book a call to get started </Fragment>
    <Fragment slot="subtitle">
      These calls are free and even if you don't start on the program, I will help you examine and understand your
      situation, and we can work on one challenge in your life during them as a demo. The onl think is required, filling
      the questionaire before the call.
      <div class="tidycal-embed" data-path="zeljko/complete-intro"></div>
      <script src="https://assets.tidycal.com/js/embed.js" async></script>
    </Fragment>
  </Hero>

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Will I be better after this program?',
        description:
          "That is guaranteed. We have a 100% success rate with our clients, we have yet to get that one that just doesn't want to change.",
      },
      {
        title: 'How can I be sure of success?',
        description:
          'We screen clients before they start the program, so if you are offered program, that means you are good candidate.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
</Layout>
