---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Start',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Start"
    image={{
      src: 'https://images.unsplash.com/photo-1708446309501-b73d6199392f',
      alt: 'Infinite Opportunities',
    }}
  >
    <Fragment slot="title">Let's start working together </Fragment>

    <Fragment slot="subtitle">
      Before we can sign you up for any program, we need to have a chat to see if we are a good fit for each other.
    </Fragment>
  </Hero>

  <Hero tagline="Schedule a call">
    <Fragment slot="title"> Book a call to get started </Fragment>
    <Fragment slot="subtitle">
      <div class="tidycal-embed" data-path="zeljko/academy-and-candidate-intro"></div>
      <script src="https://assets.tidycal.com/js/embed.js" async></script>
    </Fragment>
  </Hero>
</Layout>
